@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.output {
  height: 560px;
  overflow: auto;
  background: black;
  color: white;
  padding: 1em;
  margin: 1em;
}